<section id="product">
        <div class="container">
            <header class="section-header">
                <h3>Products</h3>
            </header>
          <div class="row">
            <div class="col-md-5 box">
              <a href="#">
                <div class="img">
                  <img src="assets/img/about-mission.jpg" alt="" class="img-fluid rounded">
                </div>
                <h5>Product title</h5>              
              </a>
            </div>
            <div class="col-md-7 box">
                <div class="row">
                    <div class="col-md-12 box">
                        <h2>Product title</h2> 
                    </div>
                    <div class="col-md-6 box">
                        <h5><input type="text" [(ngModel)]="inputText"></h5> 
                    </div>
                    <div class="col-md-6 box">
                        <h5>Product title</h5>
                    </div>
                </div>
            </div>           
          </div>
        </div>
</section>
