    <!--==========================
      Login Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
    
        <div class="container">
  
          <div class="section-header">
            <h3>Log In</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
          </div>
  
          <div class="form">
            <form name="form" #f="ngForm" (submit)="f.form.valid && onSubmitLogin()" method="POST" novalidate class="contactForm">
              <div class="form-row">
                <div class="form-group col-md-6 text-center">
                  <input type="text" 
                        name="user_id" 
                        class="form-control" 
                        id="user_id" 
                        placeholder="User Name" 
                        [(ngModel)]="model.user_id"
                        #user_id="ngModel"
                        [ngClass]="{'is-valid': f.submitted && user_id.invalid }"
                        required/>
                    <div *ngIf="f.submitted && user_id.invalid" class="invalid-input">
                        <div *ngIf="user_id.errors?.required">User Name field is Required</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 text-center">
                  <input type="password" 
                        class="form-control" 
                        name="password" id="password" 
                        placeholder="Your Password" 
                        [(ngModel)]="model.password"
                        #password="ngModel"
                        [ngClass]="{'is-valid': f.submitted && password.invalid }"
                        required password/>
                    <div *ngIf="f.submitted && password.invalid" class="invalid-input">
                            <div *ngIf="password.errors?.required">Password field is Required</div>
                            <div *ngIf="password.errors?.password">Enter valid Password</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 text-center">
                    <input type="checkbox" name="remember">
                    <label>Remember Me</label>
                </div>
              </div>                
              <div class="text-center"><button type="submit">Log-In</button></div>
            </form>
          </div>
          </div>
    </section><!-- #contact -->